@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-image: url("https://i.imgur.com/JN0VDLd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #afaaaa;
}
p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: white;
  margin: 0;
}
h2 {
  font-family: 'Roboto Slab', serif;
  color: white;
  margin: 0;
}

.appOne {
  font-family: 'Roboto Slab', serif;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

span{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
  color: white;

}
